@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  --fonteh1: "Passion One";
  --fontetexto: "Sriracha", cursive;
  --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  padding: 50px;
}

header > h1 {
  font-family: var(--fonteh1);
  font-size: 10em;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}

header > p {
  font-family: var(--fontepadrao);
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--fontepadrao);
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 60px;
  line-height: 6em;
  padding-left: 10px;
}

section > pre {
  font-family: var(--fontetexto);
  font-style: italic;
  color: black;
  font-size: 3.2em;
  margin: 70px 20px;
  white-space: pre-line;
  font-weight: bold;
}

section.parallax > pre {
  background-color: rgb(0, 0, 0, 0.253);
  padding: 10px;
  display: inline-block;
  color: white;
  background-attachment: fixed;
  background-color: rgba (0, 0, 0, 0.514);
}

section#imagem1 {
  background-image: url(../imagens/background001.jpg);
  background-attachment: fixed;
  height: 800px;
}

section#imagem2 {
  background-image: url('../imagens/background002.jpg');
  background-attachment: fixed;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
  font-family: var(--fontepadrao);
  padding: 10px;
}